#HP_app_name
{
font-size: 60px;
font-family: 'Futura';
color: #fff;
letter-spacing: 2px;
word-spacing: 3px;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
text-align: center;
}